# Analysis and Querying:

<h3>(0) - Load the column names</h3>

In [1]:

#(0) - Load the column names
from db_utils import RDSDatabaseConnector
from db_utils import DataTransform
RDS = RDSDatabaseConnector()
column_names = RDS.load_dataframe_from_csv()

['id', 'member_id', 'loan_amount', 'funded_amount', 'funded_amount_inv', 'term', 'int_rate', 'instalment', 'grade', 'sub_grade', 'employment_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_date', 'loan_status', 'payment_plan', 'purpose', 'dti', 'delinq_2yrs', 'earliest_credit_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_accounts', 'total_accounts', 'out_prncp', 'out_prncp_inv', 'total_payment', 'total_payment_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_payment_date', 'last_payment_amount', 'next_payment_date', 'last_credit_pull_date', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type']

<h3>(1) - Removal of symbols </h3>

In [2]:
#(1) - Remove unwanted symbols

DT = DataTransform() #creates an instance of DataTransform class
enough_removed = input("Enough symbols removed?: y/n")
while enough_removed != 'y':#a while loop so that the user can drop more columns ad infinitum
    removal = DT.excess_symbol_removal()
    enough_removed = input("Enough removed?: y/n")
print(DT.df) #displays remaining dataframe

These are the symbols that will be dropped:  ['id']
These are the remaining symbols:  ['member_id', 'loan_amount', 'funded_amount', 'funded_amount_inv', 'term', 'int_rate', 'instalment', 'grade', 'sub_grade', 'employment_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_date', 'loan_status', 'payment_plan', 'purpose', 'dti', 'delinq_2yrs', 'earliest_credit_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_accounts', 'total_accounts', 'out_prncp', 'out_prncp_inv', 'total_payment', 'total_payment_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_payment_date', 'last_payment_amount', 'next_payment_date', 'last_credit_pull_date', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type']
       member_id  loan_amount  funded_amount  funded_amount_inv       term  \
0       41461848         8000         8000.0             8000.0  36 months
1       41440010        13200        13200.0            13200.0  36 months
2       41439961        16000        16000.0            16000.0  36 months
3       41439934        15000        15000.0            15000.0  36 months
4       41439927        15000        15000.0            15000.0  36 months
...          ...          ...            ...                ...        ...
54226      76583         5000         5000.0             1775.0  36 months
54227      74724         5000         5000.0             2350.0  36 months
54228      70978         3500         3500.0             2225.0  36 months
54229      70699         5000         5000.0              225.0  36 months
54230      70694         5000         5000.0              350.0  36 months

       int_rate  instalment grade sub_grade employment_length  ... recoveries  \
0          7.49      248.82     A        A4           5 years  ...       0.00
1          6.99      407.52     A        A3           9 years  ...       0.00
2          7.49      497.63     A        A4           8 years  ...       0.00
3         14.31      514.93     C        C4            1 year  ...       0.00
4          6.03      456.54     A        A1         10+ years  ...       0.00
...         ...         ...   ...       ...               ...  ...        ...
54226      9.01      159.03     B        B2            1 year  ...       0.00
54227     10.59      162.73     C        C2          < 1 year  ...       0.00
54228      7.43      108.77     A        A2         10+ years  ...       0.00
54229      7.43      155.38     A        A2           4 years  ...       0.00
54230     11.54      164.98     C        C5           9 years  ...     182.27

       collection_recovery_fee last_payment_date last_payment_amount  \
0                         0.00          Jan-2022              248.82
1                         0.00          Jan-2022              407.52
2                         0.00          Oct-2021            12850.16
3                         0.00          Jun-2021            13899.67
4                         0.00          Jan-2022              456.54
...                        ...               ...                 ...
54226                     0.00          Jul-2016              160.61
54227                     0.00          Oct-2016              490.01
54228                     0.00          Sep-2016              110.58
54229                     0.00          Mar-2014                0.00
54230                     1.84          Mar-2014              164.97

      next_payment_date last_credit_pull_date collections_12_mths_ex_med  \
0              Feb-2022              Jan-2022                        0.0
1              Feb-2022              Jan-2022                        0.0
2                   NaN              Oct-2021                        0.0
3                   NaN              Jun-2021                        0.0
4              Feb-2022              Jan-2022                        0.0
...                 ...                   ...                        ...
54226               NaN              Jul-2016                        NaN
54227               NaN              Sep-2016                        0.0
54228          Sep-2016              May-2013                        NaN
54229               NaN              May-2013                        NaN
54230          Dec-2014              Jan-2015                        NaN

       mths_since_last_major_derog  policy_code application_type
0                              5.0            1       INDIVIDUAL
1                              NaN            1       INDIVIDUAL
2                              NaN            1       INDIVIDUAL
3                              NaN            1       INDIVIDUAL
4                              NaN            1       INDIVIDUAL
...                            ...          ...              ...
54226                          NaN            1       INDIVIDUAL
54227                          NaN            1       INDIVIDUAL
54228                          NaN            1       INDIVIDUAL
54229                          NaN            1       INDIVIDUAL
54230                          NaN            1       INDIVIDUAL

[54231 rows x 42 columns]

<h3>(2) - Numerical to Categorical</h3>

In [3]:
#(2) - Numerical to Categorical
to_categorical = DT.numerical_to_categorical() #all cells above must be run before this one or else it will still have 'id' in it
DT.df.info(verbose=True)
#TODO: Numerical is more general, see class method.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   member_id                    54231 non-null  int64
 1   loan_amount                  54231 non-null  int64
 2   funded_amount                51224 non-null  float64
 3   funded_amount_inv            54231 non-null  float64
 4   term                         49459 non-null  category
 5   int_rate                     49062 non-null  float64
 6   instalment                   54231 non-null  float64
 7   grade                        54231 non-null  category
 8   sub_grade                    54231 non-null  category
 9   employment_length            52113 non-null  object
 10  home_ownership               54231 non-null  category
 11  annual_inc                   54231 non-null  float64
 12  verification_status          54231 non-null  category
 13  issue_date                   54231 non-null  object
 14  loan_status                  54231 non-null  category
 15  payment_plan                 54231 non-null  category
 16  purpose                      54231 non-null  category
 17  dti                          54231 non-null  float64
 18  delinq_2yrs                  54231 non-null  category
 19  earliest_credit_line         54231 non-null  object
 20  inq_last_6mths               54231 non-null  int64
 21  mths_since_last_delinq       23229 non-null  float64
 22  mths_since_last_record       6181 non-null   float64
 23  open_accounts                54231 non-null  int64
 24  total_accounts               54231 non-null  int64
 25  out_prncp                    54231 non-null  float64
 26  out_prncp_inv                54231 non-null  float64
 27  total_payment                54231 non-null  float64
 28  total_payment_inv            54231 non-null  float64
 29  total_rec_prncp              54231 non-null  float64
 30  total_rec_int                54231 non-null  float64
 31  total_rec_late_fee           54231 non-null  float64
 32  recoveries                   54231 non-null  float64
 33  collection_recovery_fee      54231 non-null  float64
 34  last_payment_date            54158 non-null  object
 35  last_payment_amount          54231 non-null  float64
 36  next_payment_date            21623 non-null  object
 37  last_credit_pull_date        54224 non-null  object
 38  collections_12_mths_ex_med   54180 non-null  float64
 39  mths_since_last_major_derog  7499 non-null   float64
 40  policy_code                  54231 non-null  int64
 41  application_type             54231 non-null  category
dtypes: category(10), float64(20), int64(6), object(6)
memory usage: 13.8+ MB

<h3>(3) - Numerical to Boolean</h3>

In [4]:
#(3) - Numerical to Boolean
for i in DT.df['policy_code']:
    if i != 1:
        print(i)
    else:
        pass
#seeing as though there is only one policy code, i.e., '1'
#there is no need to convert any of the columns to boolean
#as this was the only column I thought might even need
#converting to begin with...

<h3>(4) - Categorical to Boolean</h3>

In [5]:
#(4) - Categorical to Boolean
categorical_to_boolean = DT.categorical_to_boolean()

<h3>(5) - int to float</h3>

In [6]:
#(5) - int to float
int_to_float = DT.int_to_float()

<h3>(6) - float to int</h3>

In [7]:
#(6) - float to int
float_to_int = DT.float_to_int()

<h3>(7) - Convert Dates to Proper Format</h3>

In [8]:
#(7) - Convert Dates to proper format
convert_dates_to_proper_format = DT.convert_dates_to_proper_format()
DT.df

,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,employment_length,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,5 years,...,0.00,0.00,2022-01-01,248.82,2022-02-01,2022-01-01,0.0,5.0,1,INDIVIDUAL
1,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,9 years,...,0.00,0.00,2022-01-01,407.52,2022-02-01,2022-01-01,0.0,NaN,1,INDIVIDUAL
2,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,8 years,...,0.00,0.00,2021-10-01,12850.16,NaT,2021-10-01,0.0,NaN,1,INDIVIDUAL
3,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,1 year,...,0.00,0.00,2021-06-01,13899.67,NaT,2021-06-01,0.0,NaN,1,INDIVIDUAL
4,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,10+ years,...,0.00,0.00,2022-01-01,456.54,2022-02-01,2022-01-01,0.0,NaN,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,76583,5000,5000.0,1775.0,36 months,9.01,159.03,B,B2,1 year,...,0.00,0.00,2016-07-01,160.61,NaT,2016-07-01,NaN,NaN,1,INDIVIDUAL
54227,74724,5000,5000.0,2350.0,36 months,10.59,162.73,C,C2,< 1 year,...,0.00,0.00,2016-10-01,490.01,NaT,2016-09-01,0.0,NaN,1,INDIVIDUAL
54228,70978,3500,3500.0,2225.0,36 months,7.43,108.77,A,A2,10+ years,...,0.00,0.00,2016-09-01,110.58,2016-09-01,2013-05-01,NaN,NaN,1,INDIVIDUAL
54229,70699,5000,5000.0,225.0,36 months,7.43,155.38,A,A2,4 years,...,0.00,0.00,2014-03-01,0.00,NaT,2013-05-01,NaN,NaN,1,INDIVIDUAL
54230,70694,5000,5000.0,350.0,36 months,11.54,164.98,C,C5,9 years,...,182.27,1.84,2014-03-01,164.97,2014-12-01,2015-01-01,NaN,NaN,1,INDIVIDUAL

<h3>(8) - Describe all columns to check their datatypes</h3>

In [9]:
#(8) - Describe all columns to check their datatypes
from db_utils import DataFrameInfo
DFI = DataFrameInfo(DT.df)
describe_columns = DFI.method1_describe_all_columns_to_check_their_datatypes()

member_id                               int64
loan_amount                             int64
funded_amount                         float64
funded_amount_inv                     float64
term                                 category
int_rate                              float64
instalment                            float64
grade                                category
sub_grade                            category
employment_length                      object
home_ownership                       category
annual_inc                            float64
verification_status                  category
issue_date                     datetime64[ns]
loan_status                          category
payment_plan                         category
purpose                              category
dti                                   float64
delinq_2yrs                          category
earliest_credit_line           datetime64[ns]
inq_last_6mths                          int64
mths_since_last_delinq                float64
mths_since_last_record                float64
open_accounts                           int64
total_accounts                          int64
out_prncp                             float64
out_prncp_inv                         float64
total_payment                         float64
total_payment_inv                     float64
total_rec_prncp                       float64
total_rec_int                         float64
total_rec_late_fee                    float64
recoveries                            float64
collection_recovery_fee               float64
last_payment_date              datetime64[ns]
last_payment_amount                   float64
next_payment_date              datetime64[ns]
last_credit_pull_date          datetime64[ns]
collections_12_mths_ex_med            float64
mths_since_last_major_derog           float64
policy_code                             int64
application_type                     category
dtype: object

<h3>(9) - extract statistical values median stddev mean from cols and dataframe</h3>

In [10]:
#(9) - extract statistical values median stddev mean from cols and dataframe
extract_stats = DFI.method2_extract_statistical_values_median_stddev_mean_from_cols_and_dataframe()

          member_id   loan_amount  funded_amount  funded_amount_inv  \
count  5.423100e+04  54231.000000   51224.000000       54231.000000
mean   8.655350e+06  13333.076100   13229.509117       12952.622979
std    1.031281e+07   8082.196709    8019.017599        8099.473527
min    7.069400e+04    500.000000     500.000000           0.000000
25%    9.587720e+05   7000.000000    7000.000000        6700.000000
50%    8.709873e+06  12000.000000   12000.000000       11300.000000
75%    1.052714e+07  18000.000000   18000.000000       18000.000000
max    4.146185e+07  35000.000000   35000.000000       35000.000000

           int_rate    instalment    annual_inc           dti  inq_last_6mths  \
count  49062.000000  54231.000000  5.423100e+04  54231.000000    54231.000000
mean      13.507328    400.013953  7.222085e+04     15.867087        0.893843
std        4.392893    238.920012  5.158934e+04      7.623124        1.261421
min        5.420000     15.670000  3.300000e+03      0.000000        0.000000
25%       10.370000    224.205000  4.500000e+04     10.200000        0.000000
50%       13.160000    347.150000  6.100000e+04     15.600000        1.000000
75%       16.200000    527.550000  8.600000e+04     21.260000        1.000000
max       26.060000   1407.010000  2.039784e+06     39.910000       33.000000

       mths_since_last_delinq  ...  total_payment_inv  total_rec_prncp  \
count             23229.00000  ...       54231.000000     54231.000000
mean                 34.01920  ...       11788.946618      9407.048589
std                  21.92324  ...        8363.508506      6958.124264
min                   0.00000  ...           0.000000         0.000000
25%                  15.00000  ...        5658.815000      4264.350000
50%                  31.00000  ...        9835.830000      7644.920000
75%                  49.00000  ...       15978.200000     12505.625000
max                 146.00000  ...       55061.000000     35000.020000

       total_rec_int  total_rec_late_fee    recoveries  \
count   54231.000000        54231.000000  54231.000000
mean     2577.757101            0.901512     93.501288
std      2581.657345            6.215792    630.843636
min         0.000000            0.000000      0.000000
25%       889.560000            0.000000      0.000000
50%      1734.640000            0.000000      0.000000
75%      3323.765000            0.000000      0.000000
max     23062.450000          358.680000  27750.000000

       collection_recovery_fee  last_payment_amount  \
count             54231.000000         54231.000000
mean                 10.859057          3130.706393
std                 120.193950          5323.801675
min                   0.000000             0.000000
25%                   0.000000           289.790000
50%                   0.000000           562.670000
75%                   0.000000          3738.120000
max                7002.190000         36115.200000

       collections_12_mths_ex_med  mths_since_last_major_derog  policy_code
count                54180.000000                  7499.000000      54231.0
mean                     0.004208                    42.253634          1.0
std                      0.070990                    21.052360          0.0
min                      0.000000                     0.000000          1.0
25%                      0.000000                    26.000000          1.0
50%                      0.000000                    42.000000          1.0
75%                      0.000000                    59.000000          1.0
max                      4.000000                   146.000000          1.0

[8 rows x 26 columns]
member_id                      8709873.00
loan_amount                      12000.00
funded_amount                    12000.00
funded_amount_inv                11300.00
int_rate                            13.16
instalment                         347.15
annual_inc                       61000.00
dti                                 15.60
inq_last_6mths                       1.00
mths_since_last_delinq              31.00
mths_since_last_record              87.00
open_accounts                       10.00
total_accounts                      23.00
out_prncp                            0.00
out_prncp_inv                        0.00
total_payment                    10113.25
total_payment_inv                 9835.83
total_rec_prncp                   7644.92
total_rec_int                     1734.64
total_rec_late_fee                   0.00
recoveries                           0.00
collection_recovery_fee              0.00
last_payment_amount                562.67
collections_12_mths_ex_med           0.00
mths_since_last_major_derog         42.00
policy_code                          1.00
dtype: float64

<h3>(10) - Count distinct values in categorical columns</h3>

In [11]:
#(10) - Count distinct values in categorical columns
count_distinct_values = DFI.method3_count_distinct_values_in_categorical_columns()

member_id                      54231
loan_amount                     1083
funded_amount                   1122
funded_amount_inv               5261
term                               2
int_rate                         457
instalment                     19940
grade                              7
sub_grade                         35
employment_length                 11
home_ownership                     5
annual_inc                      6132
verification_status                3
issue_date                        61
loan_status                        9
payment_plan                       2
purpose                           14
dti                             3611
delinq_2yrs                       16
earliest_credit_line             587
inq_last_6mths                    24
mths_since_last_delinq           100
mths_since_last_record           120
open_accounts                     48
total_accounts                    88
out_prncp                      17673
out_prncp_inv                  17872
total_payment                  51698
total_payment_inv              51561
total_rec_prncp                25117
total_rec_int                  49331
total_rec_late_fee              1439
recoveries                      3599
collection_recovery_fee         2944
last_payment_date                 98
last_payment_amount            38235
next_payment_date                 96
last_credit_pull_date            101
collections_12_mths_ex_med         5
mths_since_last_major_derog      113
policy_code                        1
application_type                   1
dtype: int64

<h3>(11) - print out the shape of the dataframe</h3>

In [12]:
#(11) - print out the shape of the dataframe
shape = DFI.method4_print_out_the_shape_of_the_dataframe()

(54231, 42)

<h3>(12) - Generate a count slash percentage count of null values in each column</h3>

In [13]:
#(12) - Generate a count slash percentage count of null values in each column
count = DFI.method5_generate_a_count_slash_percentage_count_of_NULL_values_in_each_column()

member_id                      54231
loan_amount                    54231
funded_amount                  54231
funded_amount_inv              54231
term                           54231
int_rate                       54231
instalment                     54231
grade                          54231
sub_grade                      54231
employment_length              54231
home_ownership                 54231
annual_inc                     54231
verification_status            54231
issue_date                     54231
loan_status                    54231
payment_plan                   54231
purpose                        54231
dti                            54231
delinq_2yrs                    54231
earliest_credit_line           54231
inq_last_6mths                 54231
mths_since_last_delinq         54231
mths_since_last_record         54231
open_accounts                  54231
total_accounts                 54231
out_prncp                      54231
out_prncp_inv                  54231
total_payment                  54231
total_payment_inv              54231
total_rec_prncp                54231
total_rec_int                  54231
total_rec_late_fee             54231
recoveries                     54231
collection_recovery_fee        54231
last_payment_date              54231
last_payment_amount            54231
next_payment_date              54231
last_credit_pull_date          54231
collections_12_mths_ex_med     54231
mths_since_last_major_derog    54231
policy_code                    54231
application_type               54231
dtype: int64