# Analysis and Querying:

<h2>(0) - Load the column names</h2>

In [1]:

#(0) - Load the column names
from db_utils import RDSDatabaseConnector
from db_utils import DataTransform
RDS = RDSDatabaseConnector()
column_names = RDS.load_dataframe_from_csv()

['id', 'member_id', 'loan_amount', 'funded_amount', 'funded_amount_inv', 'term', 'int_rate', 'instalment', 'grade', 'sub_grade', 'employment_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_date', 'loan_status', 'payment_plan', 'purpose', 'dti', 'delinq_2yrs', 'earliest_credit_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_accounts', 'total_accounts', 'out_prncp', 'out_prncp_inv', 'total_payment', 'total_payment_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_payment_date', 'last_payment_amount', 'next_payment_date', 'last_credit_pull_date', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type']

<h2>(1) - Removal of symbols </h2>

In [2]:
#(1) - Remove unwanted symbols

DT = DataTransform() #creates an instance of DataTransform class
enough_removed = input("Enough symbols removed?: y/n")
while enough_removed != 'y':#a while loop so that the user can drop more columns ad infinitum
    removal = DT.excess_symbol_removal()
    enough_removed = input("Enough removed?: y/n")
print(DT.df) #displays remaining dataframe

These are the symbols that will be dropped:  ['id']
These are the remaining symbols:  ['member_id', 'loan_amount', 'funded_amount', 'funded_amount_inv', 'term', 'int_rate', 'instalment', 'grade', 'sub_grade', 'employment_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_date', 'loan_status', 'payment_plan', 'purpose', 'dti', 'delinq_2yrs', 'earliest_credit_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_accounts', 'total_accounts', 'out_prncp', 'out_prncp_inv', 'total_payment', 'total_payment_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_payment_date', 'last_payment_amount', 'next_payment_date', 'last_credit_pull_date', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type']
       member_id  loan_amount  funded_amount  funded_amount_inv       term  \
0       41461848         8000         8000.0             8000.0  36 months
1       41440010        13200        13200.0            13200.0  36 months
2       41439961        16000        16000.0            16000.0  36 months
3       41439934        15000        15000.0            15000.0  36 months
4       41439927        15000        15000.0            15000.0  36 months
...          ...          ...            ...                ...        ...
54226      76583         5000         5000.0             1775.0  36 months
54227      74724         5000         5000.0             2350.0  36 months
54228      70978         3500         3500.0             2225.0  36 months
54229      70699         5000         5000.0              225.0  36 months
54230      70694         5000         5000.0              350.0  36 months

       int_rate  instalment grade sub_grade employment_length  ... recoveries  \
0          7.49      248.82     A        A4           5 years  ...       0.00
1          6.99      407.52     A        A3           9 years  ...       0.00
2          7.49      497.63     A        A4           8 years  ...       0.00
3         14.31      514.93     C        C4            1 year  ...       0.00
4          6.03      456.54     A        A1         10+ years  ...       0.00
...         ...         ...   ...       ...               ...  ...        ...
54226      9.01      159.03     B        B2            1 year  ...       0.00
54227     10.59      162.73     C        C2          < 1 year  ...       0.00
54228      7.43      108.77     A        A2         10+ years  ...       0.00
54229      7.43      155.38     A        A2           4 years  ...       0.00
54230     11.54      164.98     C        C5           9 years  ...     182.27

       collection_recovery_fee last_payment_date last_payment_amount  \
0                         0.00          Jan-2022              248.82
1                         0.00          Jan-2022              407.52
2                         0.00          Oct-2021            12850.16
3                         0.00          Jun-2021            13899.67
4                         0.00          Jan-2022              456.54
...                        ...               ...                 ...
54226                     0.00          Jul-2016              160.61
54227                     0.00          Oct-2016              490.01
54228                     0.00          Sep-2016              110.58
54229                     0.00          Mar-2014                0.00
54230                     1.84          Mar-2014              164.97

      next_payment_date last_credit_pull_date collections_12_mths_ex_med  \
0              Feb-2022              Jan-2022                        0.0
1              Feb-2022              Jan-2022                        0.0
2                   NaN              Oct-2021                        0.0
3                   NaN              Jun-2021                        0.0
4              Feb-2022              Jan-2022                        0.0
...                 ...                   ...                        ...
54226               NaN              Jul-2016                        NaN
54227               NaN              Sep-2016                        0.0
54228          Sep-2016              May-2013                        NaN
54229               NaN              May-2013                        NaN
54230          Dec-2014              Jan-2015                        NaN

       mths_since_last_major_derog  policy_code application_type
0                              5.0            1       INDIVIDUAL
1                              NaN            1       INDIVIDUAL
2                              NaN            1       INDIVIDUAL
3                              NaN            1       INDIVIDUAL
4                              NaN            1       INDIVIDUAL
...                            ...          ...              ...
54226                          NaN            1       INDIVIDUAL
54227                          NaN            1       INDIVIDUAL
54228                          NaN            1       INDIVIDUAL
54229                          NaN            1       INDIVIDUAL
54230                          NaN            1       INDIVIDUAL

[54231 rows x 42 columns]

<h2>(2) - Numerical to Categorical</h2>

In [3]:
#(2) - Numerical to Categorical
to_categorical = DT.numerical_to_categorical() #all cells above must be run before this one or else it will still have 'id' in it
DT.df.info(verbose=True)
#TODO: Numerical is more general, see class method.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   member_id                    54231 non-null  int64
 1   loan_amount                  54231 non-null  int64
 2   funded_amount                51224 non-null  float64
 3   funded_amount_inv            54231 non-null  float64
 4   term                         49459 non-null  category
 5   int_rate                     49062 non-null  float64
 6   instalment                   54231 non-null  float64
 7   grade                        54231 non-null  category
 8   sub_grade                    54231 non-null  category
 9   employment_length            52113 non-null  object
 10  home_ownership               54231 non-null  category
 11  annual_inc                   54231 non-null  float64
 12  verification_status          54231 non-null  category
 13  issue_date                   54231 non-null  object
 14  loan_status                  54231 non-null  category
 15  payment_plan                 54231 non-null  category
 16  purpose                      54231 non-null  category
 17  dti                          54231 non-null  float64
 18  delinq_2yrs                  54231 non-null  category
 19  earliest_credit_line         54231 non-null  object
 20  inq_last_6mths               54231 non-null  int64
 21  mths_since_last_delinq       23229 non-null  float64
 22  mths_since_last_record       6181 non-null   float64
 23  open_accounts                54231 non-null  int64
 24  total_accounts               54231 non-null  int64
 25  out_prncp                    54231 non-null  float64
 26  out_prncp_inv                54231 non-null  float64
 27  total_payment                54231 non-null  float64
 28  total_payment_inv            54231 non-null  float64
 29  total_rec_prncp              54231 non-null  float64
 30  total_rec_int                54231 non-null  float64
 31  total_rec_late_fee           54231 non-null  float64
 32  recoveries                   54231 non-null  float64
 33  collection_recovery_fee      54231 non-null  float64
 34  last_payment_date            54158 non-null  object
 35  last_payment_amount          54231 non-null  float64
 36  next_payment_date            21623 non-null  object
 37  last_credit_pull_date        54224 non-null  object
 38  collections_12_mths_ex_med   54180 non-null  float64
 39  mths_since_last_major_derog  7499 non-null   float64
 40  policy_code                  54231 non-null  int64
 41  application_type             54231 non-null  category
dtypes: category(10), float64(20), int64(6), object(6)
memory usage: 13.8+ MB

<h2>(3) - Numerical to Boolean</h2>

In [4]:
#(3) - Numerical to Boolean
for i in DT.df['policy_code']:
    if i != 1:
        print(i)
    else:
        pass
#seeing as though there is only one policy code, i.e., '1'
#there is no need to convert any of the columns to boolean
#as this was the only column I thought might even need
#converting to begin with...

<h2>(4) - Categorical to Boolean</h2>

In [5]:
categorical_to_boolean = DT.categorical_to_boolean()

<h2>(5) - int to float</h2>

In [6]:
int_to_float = DT.int_to_float()

<h2>(6) - float to int</h2>

In [7]:
float_to_int = DT.float_to_int()

<h2>(7) - Convert Dates to Proper Format</h2>

In [8]:
convert_dates_to_proper_format = DT.convert_dates_to_proper_format()

DT.df

,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,employment_length,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,5 years,...,0.00,0.00,2022-01-01,248.82,2022-02-01,2022-01-01,0.0,5.0,1,INDIVIDUAL
1,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,9 years,...,0.00,0.00,2022-01-01,407.52,2022-02-01,2022-01-01,0.0,NaN,1,INDIVIDUAL
2,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,8 years,...,0.00,0.00,2021-10-01,12850.16,NaT,2021-10-01,0.0,NaN,1,INDIVIDUAL
3,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,1 year,...,0.00,0.00,2021-06-01,13899.67,NaT,2021-06-01,0.0,NaN,1,INDIVIDUAL
4,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,10+ years,...,0.00,0.00,2022-01-01,456.54,2022-02-01,2022-01-01,0.0,NaN,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,76583,5000,5000.0,1775.0,36 months,9.01,159.03,B,B2,1 year,...,0.00,0.00,2016-07-01,160.61,NaT,2016-07-01,NaN,NaN,1,INDIVIDUAL
54227,74724,5000,5000.0,2350.0,36 months,10.59,162.73,C,C2,< 1 year,...,0.00,0.00,2016-10-01,490.01,NaT,2016-09-01,0.0,NaN,1,INDIVIDUAL
54228,70978,3500,3500.0,2225.0,36 months,7.43,108.77,A,A2,10+ years,...,0.00,0.00,2016-09-01,110.58,2016-09-01,2013-05-01,NaN,NaN,1,INDIVIDUAL
54229,70699,5000,5000.0,225.0,36 months,7.43,155.38,A,A2,4 years,...,0.00,0.00,2014-03-01,0.00,NaT,2013-05-01,NaN,NaN,1,INDIVIDUAL
54230,70694,5000,5000.0,350.0,36 months,11.54,164.98,C,C5,9 years,...,182.27,1.84,2014-03-01,164.97,2014-12-01,2015-01-01,NaN,NaN,1,INDIVIDUAL